.code-boxes {
    height: 100%;
    width: 100%;
    border: 2px solid red;
}

.code-boxes .code-box {
    height: 300px;
    max-width: 660px;
}

.code-boxes .code-box .topic {
    font-size: 18px;
    font-weight: 600;
    color: rgb(72, 242, 38);
    margin: 4px;
}

.code-boxes .code-box textarea {
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border: 1px solid #bcf732;
    border-radius: 8px;
    background: #e7edfe;
}

.code-box textarea::-webkit-scrollbar {
    display: none;
}

.code-boxes .code-box button {
    height: 45px;
    width: 155px;
    color: #fff;
    background: #2b910f;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 400;
    margin: 8px 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.code-boxes .code-box button:hover {
    background: #8a0606;
}

@media (max-width: 400px) {
    .code-boxes .code-box button {
        width: 100%;
    }
}